* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

header, footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1024px;
    margin: 0 auto;
    height: 8%;
}

select {
    padding-right: 100px;
}

button {
    padding: 0 30px;
    cursor: pointer;
}

main {
    background-color: aquamarine;
    margin: 0 auto;
    height: 84%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid-container {
    width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.grid {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1;
}