* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

header, footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1024px;
    margin: 0 auto;
    height: 8%;
}

select {
    padding-right: 100px;
}

button {
    padding: 0 30px;
    cursor: pointer;
}

main {
    background-color: aquamarine;
    margin: 0 auto;
    height: 84%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid-container {
    width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.grid {
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1;
    cursor: pointer;
    background-color: #d7d7d7;
    border-top: 6px solid rgb(240, 240, 240);
    border-bottom: 6px solid rgb(123, 123, 123);
    border-right: 6px solid rgb(123, 123, 123);
    border-left: 6px solid rgb(240, 240, 240);
}

.selected {
    color: white;
    background-color: rgb(50, 99, 222);
    border-top: 5px solid rgb(132, 167, 255);
    border-bottom: 5px solid rgb(0, 30, 130);
    border-right: 5px solid rgb(0, 30, 130);
    border-left: 5px solid rgb(132, 167, 255);
}

.bomb {
    background-color: red;
}